/* stylesheet.css */
/* Style rule for the body element */
html, body {
  margin: 0px;
  padding: 0px;
  font-family:Verdana, Geneva, sans-serif;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;0
}
#page-wrapper {
  background-image: url("guatemala.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  opacity: 0.5;
  width: 100%;
  height: auto;
}
header{ 
  height: 160px;
  /* Font size, line-height, and family */
  font: 40px/80px Verdana, Geneva, sans-serif;
  text-align: center;
  font-weight: bold;
  border-bottom: solid 5px;
}
footer{
    clear: both;
    height:50px;
    padding:5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: solid 5px;
    font-size: medium;
}
/* Style rule for the wrapper div */
#wrapper {
  width: 99%;
  margin: 35px;
}
.container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  font-size: 28px;
}
.container > div {
  top: 10%;
  padding: 10px;
  font-size: 16px;
  width: 90%;
}
.container02 {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  font-size: 28px;
}
.container02 > div {
  top: 10%;
  margin-left: 15%;
  padding: 10px;
  font-size: 16px;
  width: 90%;
}

